* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.quadro {
  position: relative;
  width: 600px;
  height: 600px;
  background-color: grey;
}
.quadradoazul {
  background-color: blue;
  top: 40px;
  left: 40px;
}
.quadradovvermelho {
  background-color: red;
  top: 250px;
  left: 250px;
}
.quadradoamarelo {
  background-color: yellow;
  bottom: 40px;
  right: 40px;
}