.container {
  display: flex;
  flex-direction: center ;
  background-color:gray ;
  justify-content:center;
  align-items:center;
}
.container div {
  background-color:red ;
  width: 10px;
  margin: 30px;
  padding: 50px;
}